<form action="" method="post">
    <label for="username">
        Username:
        <input type="text" name="username" id="username">
    </label>
    <label for="password">
        Password:
        <input type="password" name="password" id="password">
    </label>
    <label for="email">
        Email:
        <input type="email" name="email" id="email">
    </label>
    <button type="submit">Get Started</button>
</form>