<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SavvyX_Blog</title>
</head>
<body>
    <nav>
        <h1>SavvyX Blog</h1>
        <a href="">Create Post</a>
        <a href="">View Posts</a>
        <form action="/blog" method="get">
            <input type="search" name="title" id="title">
              <button type="submit">Search</button>
        </form>
    </nav>
    <%-body  %>
    <footer>
        <a href="mailto:avvyuzochukwu@gmail.com">Mail Me</a>
    </footer>
</body>
</html>