<div class="container">
<h2>Explore all blogposts</h2>
<ul>
    <% blogPosts.forEach(post=> { %>
        <li>
            <a href="/blog/post/<%= post._id %>" class="blogContainer">
            <h3>
                <%= post.title %>
            </h3>
            <p class="blogContent">
                <%= post.content %>
            </p>
            </a>
        </li>

       <% })%>

</ul>
</div>