<% if (!token) { %>
    <form action="/auth/forgot-password" method="post" class="authForm">

        <input type="text" name="username" id="username" placeholder="Username">

        <button type="submit">Send Reset Link</button>
    </form>
    <% } else { %>
        <form action="/auth/reset-password" method="post">
            <input type="hidden" name="token" value="<%= token %>" class="authForm">
            <input type="password" name="password" id="password" placeholder="New Password" required>

            <button type="submit">Reset Password</button>
        </form>

        <% } %>
            <!-- Display error message -->
            <% if (error) { %>
                <p>
                    <%= error %>
                </p>
                <% } %>